{
  "extends": "standard",
  "overrides": [{
    "files": [
      "tests/**/*.js"
    ],
    "excludedFiles": [
      "dist/**/*.js",
      "lib/**/*.js"
    ],
    "rules": {
      "space-before-function-paren": false
    }
  }]
}
