.nyc_output/
.vscode/
coverage/
node_modules/
src/
tests/

.editorconfig
.eslintrc
.gitignore
.jsbeautifyrc
.npmignore
.npmrc
.nycrc
.travis.yml
gulpfile.js
mocha.opts
tsconfig.json
tslint.json
yarn.lock

dist/**/*.map
lib/**/*.map

*.log
*.tgz
